:root {
	--ion-background-color: #00000d;
	--ion-background-color-rgb: 0,0,13;

	--ion-text-color: #ffffff;
	--ion-text-color-rgb: 255,255,255;

	--ion-color-step-50: #0d0d19;
	--ion-color-step-100: #1a1a25;
	--ion-color-step-150: #262631;
	--ion-color-step-200: #33333d;
	--ion-color-step-250: #40404a;
	--ion-color-step-300: #4d4d56;
	--ion-color-step-350: #595962;
	--ion-color-step-400: #66666e;
	--ion-color-step-450: #73737a;
	--ion-color-step-500: #808086;
	--ion-color-step-550: #8c8c92;
	--ion-color-step-600: #99999e;
	--ion-color-step-650: #a6a6aa;
	--ion-color-step-700: #b3b3b6;
	--ion-color-step-750: #bfbfc3;
	--ion-color-step-800: #cccccf;
	--ion-color-step-850: #d9d9db;
	--ion-color-step-900: #e6e6e7;
	--ion-color-step-950: #f2f2f3;

  --ion-color-primary: #ff0303;
	--ion-color-primary-rgb: 255,3,3;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #e00303;
	--ion-color-primary-tint: #ff1c1c;

  --ion-color-medium: #d0ccd1;
	--ion-color-medium-rgb: 208,204,209;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #b7b4b8;
	--ion-color-medium-tint: #d5d1d6;

	--ion-color-light: #f7f7f7;
	--ion-color-light-rgb: 247,247,247;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d9d9d9;
	--ion-color-light-tint: #f8f8f8;
}