<ion-content [fullscreen]="true">
  <div class="texto-encabezado">
    <ion-text>
      <h1>PROYECTOS REALIZADOS:</h1>
    </ion-text>
    <ion-text color="medium">
      <h5>Aquí te presento los proyectos que he realizado.</h5>
    </ion-text>
  </div>
  <div>
    <ion-grid>
      <ion-row class="cards">
        <ion-col size="6" size-sm="4" size-md="3" class="cards-col">
          <ion-card>
            <img
              alt="Dashboard MARISCALDEV"
              src="../../../assets/proyectos/dashboard.png"
            />
            <ion-card-header>
              <ion-card-title>Dashboard MariscalDEV</ion-card-title>
              <ion-card-subtitle
                >Website con los accesos directos más
                ocupados.</ion-card-subtitle
              >
            </ion-card-header>

            <ion-card-content>
              <ion-button>Ver más</ion-button>
              <a
                href="https://mariscaldev.netlify.app/panel"
                target="_blank"
                rel="noopener noreferrer"
              >
                <ion-button>DEMO</ion-button>
              </a>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6" size-sm="4" size-md="3" class="cards-col">
          <ion-card>
            <img
              alt="Dashboard MARISCALDEV"
              src="../../../assets/proyectos/dashboard.png"
            />
            <ion-card-header>
              <ion-card-title>Card Title</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <ion-button>Ver más</ion-button>
              <ion-button>DEMO</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6" size-sm="4" size-md="3" class="cards-col">
          <ion-card>
            <img
              alt="Dashboard MARISCALDEV"
              src="../../../assets/proyectos/dashboard.png"
            />
            <ion-card-header>
              <ion-card-title>Card Title</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <ion-button>Ver más</ion-button>
              <ion-button>DEMO</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6" size-sm="4" size-md="3" class="cards-col">
          <ion-card>
            <img
              alt="Dashboard MARISCALDEV"
              src="../../../assets/proyectos/dashboard.png"
            />
            <ion-card-header>
              <ion-card-title>Card Title</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <ion-button>Ver más</ion-button>
              <ion-button>DEMO</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6" size-sm="4" size-md="3" class="cards-col">
          <ion-card>
            <img
              alt="Dashboard MARISCALDEV"
              src="../../../assets/proyectos/dashboard.png"
            />
            <ion-card-header>
              <ion-card-title>Card Title</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <ion-button>Ver más</ion-button>
              <ion-button>DEMO</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6" size-sm="4" size-md="3" class="cards-col">
          <ion-card>
            <img
              alt="Dashboard MARISCALDEV"
              src="../../../assets/proyectos/dashboard.png"
            />
            <ion-card-header>
              <ion-card-title>Card Title</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <ion-button>Ver más</ion-button>
              <ion-button>DEMO</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6" size-sm="4" size-md="3" class="cards-col">
          <ion-card>
            <img
              alt="Dashboard MARISCALDEV"
              src="../../../assets/proyectos/dashboard.png"
            />
            <ion-card-header>
              <ion-card-title>Card Title</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <ion-button>Ver más</ion-button>
              <ion-button>DEMO</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6" size-sm="4" size-md="3" class="cards-col">
          <ion-card>
            <img
              alt="Dashboard MARISCALDEV"
              src="../../../assets/proyectos/dashboard.png"
            />
            <ion-card-header>
              <ion-card-title>Card Title</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <ion-button>Ver más</ion-button>
              <ion-button>DEMO</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
